/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* interview cards  */
.custom-shadow {
    box-shadow: -1px 11px 27px -10px rgba(192, 192, 192, 0.4);
  }
  .blueGradient {
    background: linear-gradient(
      66deg,
      rgba(202, 237, 255, 1) 0%,
      rgba(110, 201, 250, 1) 100%
    );
  }
  .purpleGradient {
    background: linear-gradient(
      66deg,
      rgba(218, 206, 255, 1) 0%,
      rgba(159, 148, 254, 1) 100%
    );
  }
  .orangeGradient {
    background: linear-gradient(
      66deg,
      rgba(255, 220, 206, 1) 0%,
      rgba(247, 145, 81, 1) 100%
    );
  }

  /* testimonials */
  .slick-slider {
    @apply bg-white shadow-sm;
  }

  @layer utilities {
    .btn_white { 
      @apply  border-white bg-white px-8 py-3 text-green-50
    }
    .btn_white_text  { 
      @apply  border-white bg-white px-8 py-3 text-gray-90
    }
    .btn_green  { 
      @apply  border-green-50 bg-green-50 px-8 py-5 text-white
    }
    .btn_dark_green { 
      @apply  bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
    }
    .btn_dark_green_outline  { 
      @apply border-gray-20 bg-green-90 px-8 py-5 text-white
    }
    
    .max-container {
      @apply mx-auto max-w-[1440px];
    }
  
    .padding-container {
      @apply px-6 lg:px-20 3xl:px-0;
    }
  
    .flexCenter {
      @apply flex items-center justify-center;
    }
  
    .flexBetween {
      @apply flex items-center justify-between;
    }
  
    .flexStart {
      @apply flex items-center justify-start;
    }
  
    .flexEnd {
      @apply flex items-center justify-end;
    }
  
    /* FONTS */
    .regular-64 {
      @apply text-[64px] font-[400] leading-[120%];
    }
  
    .regular-40 {
      @apply text-[40px] font-[400] leading-[120%];
    }
  
    .regular-32 {
      @apply text-[32px] font-[400];
    }
  
    .regular-24 {
      @apply text-[24px] font-[400];
    }
  
    .regular-20 {
      @apply text-[20px] font-[400];
    }
  
    .regular-18 {
      @apply text-[18px] font-[400];
    }
  
    .regular-16 {
      @apply text-[16px] font-[400];
    }
  
    .regular-14 {
      @apply text-[14px] font-[400];
    }
  
    .medium-14 {
      @apply text-[14px] font-[600];
    }
  
    .bold-88 {
      @apply text-[88px] font-[700] leading-[120%];
    }
  
    .bold-64 {
      @apply text-[64px] font-[700] leading-[120%];
    }
  
    .bold-52 {
      @apply text-[52px] font-[700] leading-[120%];
    }
  
    .bold-40 {
      @apply text-[40px] font-[700] leading-[120%];
    }
  
    .bold-32 {
      @apply text-[32px] font-[700] leading-[120%];
    }
  
    .bold-20 {
      @apply text-[20px] font-[700];
    }
  
    .bold-18 {
      @apply text-[18px] font-[700];
    }
  
    .bold-16 {
      @apply text-[16px] font-[700];
    }  
  
  
    /* Feature */
    .feature-phone {
      @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
    }
  
    
  }